.wrap {
    background: #fff;
    margin: 20px auto;
    display: block;
    width: 300px;
    height: 310px;
    padding:20px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.wrap img {
    width: 100%;
    margin-top: 15px;
}

.p-box{ 
    margin-top: 15px;
    text-align: justify;
}

.h1-box{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.a-box{
    text-decoration: none;
    color: #4A4A4A !important;
}

.a-box:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}
