input.pagination {
    height: 42px;
    background: #3695c6;
    border: 1px solid #1C89C4;
    display: inline-block;
    
    font-family: "Open-sans", Sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0;
    color: #fff;
    line-height: 42px;
    
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 18px;
    
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.protsumm {
    font-size: small;
}

/* protein card */

.pdisplay {border-radius: 10px;
	   -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
           -moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	   box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
           border-color: rgba(0,0,0,0.1);
           border-width: 1px;
           border-style: solid;
	   padding: 10px;
	   margin-bottom: 20px;}

.hdisplay {border-radius: 10px;
	   border-style: solid;
	   border-color: #E8E8E8;
	   border-width: 1px;
	   background-color: #FCFCFC;
	   padding: 10px;
	   margin-bottom: 20px;}

/* protein menu */

.mselected {background-color: #eee;}
.mdisabled {background-color: #eee;}
.flinka {color: #0000EE;
	 cursor: pointer;}
.flinki {color: #cad2d3;}
.inline {display: inline}
.my-cursor {cursor: pointer;}
.my-text {cursor: text;}
.small-text{font-size: 85%}
.thick {font-weight: bold;}
/* search box */

.downloadframe {display: none;}

/* annotation display */

table {width: 100%;
       border-collapse: collapse;}

.anno-display {vertical-align: top;
	       line-height:150%;
	       text-align: left;
	       padding-left: 5px;
	       padding-right: 5px;
	       font-size: small;}

.vcenter {vertical-align: center;}
.hcenter {text-align: center;}

.greyed {background-color: #cad2d3;}

tr:hover {background-color: #f5f5f5}

.sequence-fixed {font-family: "Lucida Console", Monaco, monospace}

/* padded divs */

.padded {padding-top: 1em;
	 padding-bottom: 0em;
	 padding-right: 0.25em;
	 padding-left: 0.25em;}

.padded2 {padding-top: 0.5em;
	  padding-bottom: 0.5em;
	  padding-right: 0.25em;
	  padding-left: 0.25em;}

.tbpadded {padding-top: 0.5em;
	   padding-bottom: 0.5em;
	   padding-right: 0em;
	   padding-left: 0em;}

.annopadded {padding-top: 2.5em;
	     padding-bottom: 0em;
	     padding-right: 0em;
	     padding-left: 0em;}

/* inputs */

.myinput {padding:.5em .6em;
	  display:inline-block;
	  border:1px solid #ccc;
	  box-shadow:inset 0 1px 3px #ddd;
	  border-radius:4px;
	  vertical-align:middle;
	  -webkit-box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  box-sizing:border-box;}

.thick {font-weight: bold;}

.buttondisplay {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 85%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #f3f3f3;
    text-decoration: none;
    border-radius: 2px;
}

